.menu {

    padding-top: 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    padding-right: 4rem;
   justify-content: right;
   background-color: #032408; 
   

}

.menu li {
    margin-left: 2rem;
    list-style: none;
    font-family: poppins;
  
}

.link {
    font-size: 1rem;
    color: rgb(178, 248, 199); 
    text-decoration: none;
  border-radius: 2rem;
  padding: 1rem;
  text-align:unset;
  text-rendering: auto;

    transition-property: color;
    transition-duration: .5s;
    transition: .5s ease-in;
    
}

.link:hover {
    color: rgb(247, 201, 133);
    
}

.custom-shape-divider-top-1626045408 {
    
    width: 100%;
    height: 125px;
  
}



.custom-shape-divider-top-1626045408 .shape-fill {
    fill: #B95B08;
}
@media (max-width:768px){
    .menu {
        margin: 2rem;
        display: flex;
        justify-content: flex-start;
    }
}