.Saiba {
   
    background-color:rgb(234, 246, 234);
    
}


.Saiba h3 {
    font-family: Oxanium;
    padding-top: 7rem;
    padding-bottom: 2rem;
    font-size:3rem;
    text-align:left;
    text-align: center;
    color: rgb(182, 78, 9);

}


.Saiba p {
    text-align: justify;
    font-size: 1rem;
    padding: 3rem;
    font-family: poppins;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    background-color: rgb(197, 179, 18);
    border-radius: 3rem;

}

.Title_Referencias h2 {
    color: rgb(182, 78, 9);
    font-size: 2.5rem;
    text-align: center;
    font-family: Oxanium;
    padding: 2rem;
    margin-bottom: 2rem;

}

.card ul {
    background-color: rgb(88, 114, 36);
    padding: 3rem;
    align-items: center;
    text-decoration: none;
    
    
}

.card li {
    background-color: whitesmoke;
    font-family: poppins;
    font-size: 1rem;
    padding: .4rem;
    border-radius: 0.5rem;
    margin-left: 7rem;
    margin-right: 10rem;

    text-align: center;

}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 4rem;
  margin-left: 30rem;

}