.Saiba {
   
    background-color: #fefae0;
 
}


.Saiba h2 {
    font-family: Oxanium;
    padding-top: 7rem;
    padding-bottom: 2rem;
    font-size:3rem;
    text-align:left;
    text-align: center;
    color: #8d3715;

}

.Saiba p {
    text-align: justify;
    font-size: 1rem;
    font-style: italic;
    padding: 5rem;
    font-family: poppins;
    background-color: #8b9270;
    text-indent: 0

}

.Saiba h6 {
    font-size: 1rem;
    padding-top: 1rem;
    text-align: right;
    margin-top: ;
}

#btn  {
background-color: #ce5f05;
border-radius: 1.2rem;
padding: 1.1rem;
margin-top: 2rem;
margin-left: 70rem;
transition-property: color;
transition-duration: .5s;
transition: .5s ease-in;
-webkit-animation: cubic-bezier(1, 0, 0, 1);
  border-bottom: 3px solid #f3a260;
    
}

#btn:hover {
color: rgb(224, 203, 144);
background-color:rgb(64, 121, 8);

}

a {
    text-transform: uppercase;
 text-decoration: none;    
  font-family: poppins;
  color: rgb(234, 241, 239);
  
}


.custom-shape-divider-top-1626049903 svg {
    position: relative;
    display: block;
    width: 100%;
    height:200px;
    transform: rotateY(180deg);
    margin-top: 7rem;
}

.shape-fill {
    fill: #8d3715;
}


.Title_Referencias h3 {
    color: #da741c;
    font-size: 2.5rem;
    text-align: center;
    font-family: Oxanium;
    padding: 2rem;
    background-color: #f8efb3;

   

}

.Dados {
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 2rem;


}

.card {
    background-color: #586440;
flex-direction: column;
box-shadow: 1px 2px 3px 3px #da741c;
font-family: poppins;
font-size: .7rem;
color: rgb(242, 250, 247);
width: 280px;
text-align:center;
margin-top: 2rem;
margin-bottom: 2rem;
margin-right: 1.3rem;
margin-left: 1rem;
padding: .5rem;

}
.material-icons {
     color: #faca9a;
     padding-top: 2rem;
    
}

.card p {
    color: #faf7f4;
    background-color: #3a4228;
    font-size: .9rem;
    padding: .5rem;
    text-align: center;
    margin: 0%;

    
}
.card_image img {
    width: 10rem;
    height: 10rem;
    border-radius: 20rem;
    text-align: center;
 
}