.author {
    display: flex;
    height: 1000px;
    background-color: #fefae0;
}

.avatar img {

    border-radius: 50rem;
    margin-top: 10rem;
    margin-left: 10rem;
    border: blueviolet;

}

h6 {
    font-family: Oxanium;
    font-size: 2.1rem;
    color: white;
}

.avatar ul {
    margin-left: 10rem;
    padding: .5rem;
    background-color: #8d3715;
    list-style: none;
    border-radius: 1rem ;
    color: white;
    font-family: poppins; 
    text-align: center;
    
}


.avatar a {
  font-size: .8rem;

}

.Bio h2 {
    color: white;
    font-family: Oxanium; 
    margin-top: 7rem;
    margin-left: 3rem;
    margin-right:32.5rem;
    background-color: #8d3715;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius:1rem;
    text-align: left;
}

.Bio p {
    
    margin-left: 3rem;
    margin-right: 5rem;
    text-align: justify;
    font-family:poppins; 
    background-color: #d68d39;
    color:rgb(2, 0, 0);
    padding: 1rem;
    border-radius: .5rem;
    font-family: 2rem;

}
