.texts {
    background-color: #8d3715;
    display: flex; 
    padding-top: 0rem;
    padding-bottom: 2rem;
}


.title_Ifa{
    font-family: Oxanium;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    color: white;
    
}

.title_Algoritmos{
    font-family: Oxanium;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    color: white;

}

.container_alg p {
    font-family: poppins;
    text-align: justify;
    color: white;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;

}

.container_Ifa p {
    font-family: poppins;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
    color: white;
    padding-bottom: 2rem;
    font-size: 1rem;
}


.texts img {
    margin-top: 1rem;
    width: 200px;
    background-image: url(../../assets/img4.svg);
    
  
}

.container_Unesco {
    background-color: #fefae0;
    
}


.text {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    text-align: justify;
    font-family: poppins;
    font-style: italic;
    color: #7e2d0d;
    text-indent: 5rem;
    line-height: 2rem;
    
}

.titlle_Unesco {
    text-align: center;
    font-family: oxanium;
    margin: 0rem 2rem;   
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2.3rem;
    color: #61772a;;
}

.container_Unesco h6 {
    font-family: poppins;
    text-align: right;
    margin-right: 5rem;
    font-size: 1.5rem;
    padding-bottom: 4rem;
    color:rgb(45, 58, 23);


}

