.texts {
    background-color: #8d3715;
    display: flex; 
    padding-top: 0rem;
}


.title_Ifa{
    font-family: Oxanium;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    color: white;
    
}

.title_Algoritmos{
    font-family: Oxanium;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    color: white;

}

.container_alg p {
    font-family: poppins;
    text-align: justify;
    color: white;
    padding-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;

}

.container_Ifa p {
    font-family: poppins;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
    color: white;
    padding-bottom: 2rem;
    font-size: 1rem;
}


.texts img {
    width: 200px;
    background-image: url(../../assets/img4.svg);
  
}


