.footer {

    width: 100%;
    background-color:   #3a6843;
   text-align: center;
}

  a:active{
     width: 70px;
 }

.text1 {
    display: flex;
    justify-content: space-around;
    font-family: poppins;
    font-size: .8rem;
    color: #f7e0b2;
    background-color: #3a6843;
    width: 100%;
    margin: 0%;

}



.text1 img {
    padding-top: 1rem;
    width: 80px;
    height: 100px;
    
}

.text1 p {
    align-self: center;
    margin-left: 5rem;

}

.text1 h4 {
   align-self: center;
    font-family: poppins;
    text-decoration: none;
    
}