.footer {

    width: 100%;
    background-color:#be6516;
   text-align: center;
}

.footer img {
    padding-top: .6rem;
    padding-bottom: .6rem;
   
 }

.text1 {
    display: flex;
    justify-content: space-around;
    font-family: poppins;
    font-size: .8rem;
    color: #f7f3f2;
    background-color: #032408;  
    width: 100%;
    margin: 0%;

}



.text1 img {
    width: 90px;
    height: 90px;
}

.text1 p {
    align-self: center;
    margin-left: 5rem;

}

.text1 h4 {
   align-self: center;
    font-family: poppins;
    text-decoration: none;
    
}