@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main {
    padding: 0rem;
    background-color: #fefae0;
    animation:cubic-bezier(0.445, 0.05, 0.55, 0.95);
    display: flex;
    width: 100%;
   padding: 4rem;
   
}

.main img {
  width: 500px;
  margin-right: 5rem;
   
  }

h1 {
  
    color: #da741c;
    margin-left: 5rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-size: 7rem;
    font-family: Oxanium;

}


.main h2{
  
  color: #8d3715;
  margin-left: 7rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 5rem;
  font-family: Oxanium;
  text-align: right;

}
