@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main {
    padding: 0rem;
    background-color: rgb(253, 253, 253);
    animation:cubic-bezier(0.445, 0.05, 0.55, 0.95);
   
}

.main img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    animation:unset;
    animation-duration: 20s;
  }

h1 {
   position: absolute;
    color: rgb(243, 116, 11);
    padding: 5rem;
    font-size: 3rem;
    margin-left: 115px;
    font-family: Oxanium;

}

