

.main {
    padding: 0rem;
    background-color: #fefae0;
    animation:cubic-bezier(0.445, 0.05, 0.55, 0.95);
    display: flex;
    width: 100%;
   padding: 1rem;

   
}

.main img {
  width: 500px;
  margin-right: 5rem;
  
  }

  @keyframes elemento {
    0% {
    

    }
    100% {
  
      margin-left: 0%;
  
      width:300px;
    height:300px;
    }
  }
  .main img {			
    animation: elemento 5s ease-in 0s alternate infinite none running;
  }

  
  

h1 {
  
    color: #da741c;
    margin-left: 5rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    font-size: 7rem;
    font-family: Oxanium;
    animation:cubic-bezier(0.075, 0.82, 0.165, 1);
    
}


.main h2{
  
  color: #8d3715;
  margin-left: 7rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 5rem;
  font-family: Oxanium;
  text-align: right;

}
